* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif; /* ?˜„???? ?¸ ?°?Š¸ ?„¤? • */
}
body {
    overflow-y: scroll;
    overflow-x: hidden;
}
@font-face {
    font-family: myLogoTxt;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/23596/facebook-letter-faces.ttf);
}

/*header section*/
.headerSection {
    position: absolute;
    top: 0;
    width: 100vw;

    height: 10vh;

    border-bottom-color: black;
    background-color: #26272b;
    z-index: 5;
}

.logo_txt {
    position: absolute;

    padding-top: 0.5%;
    padding-left: 5px;
    padding-bottom: 0.5%;
    left: 3%;
    z-index: 10;
    font-family: myLogoTxt;
    font-size: 45px;

    color: #8c93b8;
}

.navIndexImg {
    position: absolute;
    padding-top: 0.5%;
    padding-left: 50px;
    padding-bottom: 0.5%;
    left: 40%;
    width: 200px;
    height: 100px;
    z-index: 10;
}
/* end head section*/

/* menu section */
.menuBt {
    padding-left: 92vw;
    padding-top: 1vh;
}

input[id="menuIcon"] {
    display: none;
}

input[id="menuIcon"] + label {
    display: block;
    margin-top: 10px;
    width: 60px;
    height: 40px;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

input[id="menuIcon"] + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    background-color: #8c93b8;
    transition: all 0.35s;
}

input[id="menuIcon"] + label span:nth-child(1) {
    top: 0%;
}

input[id="menuIcon"] + label span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

input[id="menuIcon"] + label span:nth-child(3) {
    bottom: 0%;
}

input[id="menuIcon"]:checked + label span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}

input[id="menuIcon"]:checked + label span:nth-child(2) {
    opacity: 0;
}

input[id="menuIcon"]:checked + label span:nth-child(3) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

.sideBar {
    float: right;

    width: 250px;

    height: 100%;
    background-color: #404148;
    position: fixed;
    top: 0;

    right: -250px;

    z-index: 1;
    transition: all 0.35s;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
input[id="menuIcon"]:checked + label + div {
    right: 0;
}

#menuDeep {
    list-style-type: none;
    padding-top: 35%;
}

#menuDeep a {
    text-decoration: none;
    color: white;
}

#menuDeep li {
    padding: 15px;
    text-align: center;
    font-size: 26px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s;
}

#menuDeep li:hover {
    background-color: #595a64;
}

#menuDeep ul {
    display: none;
    padding-left: 20px;
}

#menuDeep li:hover > ul {
    display: block;
}

#menuDeep ul li {
    font-size: 20px;
    border-bottom: none;
    transition: background-color 0.3s;
}
#menuDeep ul li:hover {
    background-color: #757784;
}

/* end menu section*/

/*slider section*/
.slideHead {
    overflow: hidden;
    margin-top: 0vh;
    margin-left: 10vw;
    margin-right: 10vw;
}

.slideShow {
    width: 500vw;
    height: 85vh;
    transition: transform 0.5s;
}

.slides {
    width: 100vw;
    height: 85vh;
    float: left;
}
.slides .in_logo_slide {
    text-align: center;
}

.slides img {
    width: 100%;
    height: 100%;
}

.slides img[alt] {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.arrow {
    position: flex;
}

.arrow span {
    position: absolute;
    text-align: center;
    cursor: pointer;
    font-size: 3em;
    color: rgb(27, 27, 27);
    background-color: transparent;
    border-radius: 50%;
    top: 42.5%;
    padding: 5px 30px;
    border: 3px solid transparent;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.arrow span:hover {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.nextBt {
    right: 10vw;
}

.prevBt {
    left: 10vw;
}

/* end slider section*/

/* footer section */
.site-footer {
    background-color: #26272b;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}
.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}
.site-footer hr.small {
    margin: 20px 0;
}
.site-footer h6 {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 10px;
    letter-spacing: 2px;
}
.site-footer a {
    text-decoration-line: none;
    color: #737373;
}
.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a {
    color: #737373;
}
.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links.inline li {
    display: inline-block;
}
.site-footer .social-icons {
    text-align: right;
}
.site-footer .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin-left: 6px;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
}
.copyright-text {
    margin: 0;
}
@media (max-width: 991px) {
    .site-footer [class^="col-"] {
        margin-bottom: 30px;
    }
}
@media (max-width: 767px) {
    .site-footer {
        padding-bottom: 0;
    }
    .site-footer .copyright-text,
    .site-footer .social-icons {
        text-align: center;
    }
}
.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.social-icons li {
    display: inline-block;
    margin-bottom: 4px;
}
.social-icons li.title {
    margin-right: 15px;
    text-transform: uppercase;
    color: #96a2b2;
    font-weight: 700;
    font-size: 13px;
}
.social-icons a {
    background-color: #eceeef;
    color: #818a91;
    font-size: 16px;
    display: inline-block;
    line-height: 44px;
    width: 44px;
    height: 44px;
    text-align: center;
    margin-right: 8px;
    border-radius: 100%;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}
.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
    color: #fff;
    background-color: #29aafe;
}
.social-icons.size-sm a {
    line-height: 34px;
    height: 34px;
    width: 34px;
    font-size: 14px;
}
.social-icons a.github:hover {
    background-color: #3b5998;
}
@media (max-width: 767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600;
    }
}
/* end footer section */
